/* overrides */


/*NAVBAR*/

@media (max-width: 767px) {
  section {
    padding: 75px 0; }
  section.first {
    padding-top: 75px; } }

#mainNav {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: #1f1009; }
  #mainNav a:focus {
    outline: none; }
  #mainNav .navbar-brand {
    font-size: 1.1rem;
    color: white; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: white; }
  #mainNav .navbar-nav {
    letter-spacing: 1px; }
    #mainNav .navbar-nav li.nav-item a.nav-link {
      color: white; }
      #mainNav .navbar-nav li.nav-item a.nav-link:hover {
        color: #C18C4A;
        outline: none; }
      #mainNav .navbar-nav li.nav-item a.nav-link:active {
        color: white; } 
      #mainNav .navbar-nav li.nav-item a.nav-link:focus {
        color: white; }
  #mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: black;
    border-color: black;
    background: #C18C4A;
    background-color: #C18C4A}
    #mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
      color: black;
      border-color: black;
      background-color: #C18C4A;
      background: #C18C4A;} 

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s; }
    #mainNav .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: white;
      border-radius: 3px;
      background: #C18C4A; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: white;
        background: #C18C4A; }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px; }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5em; } }



/*HEADER hdc*/
header.masthead {
  /*padding-top: 100px;
  padding-bottom: 50px;*/
  text-align: center;
  color: white;
  background: url(/img/IMG_0136_tu.JPG) no-repeat scroll center bottom, linear-gradient(black,#662D20);
  background-size: contain; }
  /*background: #C18C4A; }*/


  hr.star-light:after {
    color: white;
    background-color: #C18C4A; }

@media (min-width: 768px) {
  header.masthead {
    padding-top: 200px;
    padding-bottom: 100px; }
    header.masthead .intro-text .name {
      outline-color: black;
      font-size: 4.75em; }
    header.masthead .intro-text .skills {
      outline-color: black;
      font-size: 1.75em; } }


#backgroundimage
{
   height: auto;
   left: 0;
   margin: 0;
   max-height: 100%;
   min-width: 674px;
   padding: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
}


/* ABOUT */
section.success {
  color: white;
  background: #662D20; }



/* FOOTER */
footer {
  color: white; }
  footer h3 {
    margin-bottom: 30px; }
  footer .footer-above {
    padding-top: 50px;
    background-color: #560A05; }
  footer .footer-col {
    margin-bottom: 50px; }
  footer .footer-below {
    padding: 25px 0;
    background-color: #560A05; }